# Python
__pycache__/
*.py[cod]
*$py.class
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
/core/python_base/
/core/.venv/
/core/venvs/

# 其他
pip_cache
.cookie.json
.setting.json
.env
imgs
venvs
build
python313
log.txt
temp_*.json
.shiftengine/*
astron
rpaexternal
components/*/meta.json
temp_*.py

